{# templates/default/new.html.twig #}
{%  extends 'base.html.twig' %}

{% block title %}List coins{% endblock %}

{% block body %}

    <section>

        <table id="coins" class="display">
             <thead>
              <tr>
                  <th>Coin Name</th>
                  <th>Market</th>
                  <th>Last Price</th>
                  <th>Volume</th>
                  <th>Bid</th>
                  <th>Ask</th>
                  <th>Change</th>

              </tr>
              </thead>
              <tbody>
              {#
        {% for asset in assets %}
         <tr>
             <td>{{ asset.name }} ({{ asset.mnemonic }})</td>
             {% for market in markets %}
             {% if asset.id  == market.idAsset %}
                 <td><a href="{{ url('marketview',{ 'market': market.name}) }}">{{ market.name }}</a></td>
                 <td>{{ market.lastPrice }}</td>
                 <td>{{ market.volume }}</td>
                 <td>{{ market.lastBid |number_format(8, '.', ',')}}</td>
                 <td>{{ market.lastAsk |number_format(8, '.', ',')}}</td>
                 <td>{{ market.percentChange }}</td>
             {% endif %}
             {% endfor %}

         </tr>


         {% endfor %}
#}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/assets.js') }}"></script>
{%  endblock %}
