{# templates/default/new.html.twig #}
{%  extends 'base.html.twig' %}

{% block title %}List coins{% endblock %}

{% block body %}

    <section>

        <table id="coins" class="table table-sm">
            <thead>
            <tr>
                <th>Coin Name</th>
                <th>Market</th>
                <th>Last Price</th>
                <th>Volume</th>
                <th>Bid</th>
                <th>Ask</th>
                <th>% change</th>

            </tr>
            </thead>
            <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.name }} ({{ asset.mnemonic }})</td>
            {% for market in markets %}
            {% if asset.id  == market.idAsset %}
                <td><a href="{{ url('marketview',{ 'market': market.name}) }}">{{ market.name }}</a></td>
                <td>{{ market.lastPrice }}</a></td>
                <td>{{ market.volume }}</a></td>
                <td>{{ market.lastBid }}</a></td>
                <td>{{ market.lastAsk }}</a></td>
                <td>{{ market.percentChange }}</a></td>
            {% endif %}
            {% endfor %}
            <td></td>
        </tr>


        {% endfor %}
            </tbody>
        </table>
    </section>


{% endblock %}