{# templates/default/new.html.twig #}
{%  extends 'base.html.twig' %}

{% block title %}FeXiT{% endblock %}

{% block body %}
    <section id="graph">

        <div id="chartContainer" style="height: 300px; width: 100%;">
    </section>
    <section >
        <div><h1>Bid</h1></div>
        <table id="bid" class="dataTable">
            <thead>
            <tr>
                <th>Sum</th>
                <th>Volume</th>
                <th>Size ({{ coin.name }})</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>


        {% for bid in bids %}
            <tr>
                <td>{{ bid.sum |number_format(5, '.', ',') }}</td>
                <td>{{ bid.btcVal |number_format(5, '.', ',') }}</td>
                <td>{{ bid.size |number_format(8, '.', ',') }}</td>
                <td>{{ bid.value |number_format(8, '.', ',') }}</td>
            </tr>
        {% endfor %}
        </table>
    </section>
    <section >
        <div><h1>Ask</h1></div>
        <table id="ask" class="dataTable">
            <thead>
            <tr>
                <th>Value</th>
                <th>Volume</th>
                <th>Size ({{ coin.name }})</th>
                <th>Sum</th>
            </tr>
            </thead>
            <tbody>


            {% for ask in asks %}
                <tr>
                    <td>{{ ask.value |number_format(8, '.', ',') }}</td>
                    <td>{{ ask.size |number_format(8, '.', ',') }}</td>
                    <td>{{ ask.btcVal|number_format(5, '.', ',')  }}</td>
                    <td>{{ ask.sum |number_format(5, '.', ',') }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

{% endblock %}